services:
  root:
    container_name: root
    image: mcr.microsoft.com/devcontainers/base:noble
    volumes:
      - .:/workspace:rw
      - ./builder:/workspace/builder:ro
      - ./langchain-ai-docs:/workspace/langchain-ai-docs:ro
    user: vscode
    working_dir: /workspace
    command: sleep infinity
    networks:
      - network

  builder:
    container_name: builder
    build: ./builder/.devcontainer
    volumes:
      - ./builder:/app
    user: vscode
    working_dir: /app
    command: sleep infinity
    networks:
      - network
    depends_on:
      langchain-ai-docs:
        condition: service_healthy
      chroma:
        condition: service_healthy
      ollama:
        condition: service_healthy
    environment:
      - LANGCHAIN_AI_DOCS_URL=http://langchain-ai-docs:3000
      - CHROMA_HOST=chroma
      - CHROMA_PORT=8000
      - CHROMA_SSL=false
      - OLLAMA_URL=http://ollama:11434

  query:
    container_name: query
    build: ./query/.devcontainer
    volumes:
      - ./query:/app
    user: vscode
    working_dir: /app
    command: sleep infinity
    networks:
      - network
    depends_on:
      chroma:
        condition: service_healthy
      ollama:
        condition: service_healthy
    environment:
      - CHROMA_HOST=chroma
      - CHROMA_PORT=8000
      - CHROMA_SSL=false
      - OLLAMA_URL=http://ollama:11434

  langchain-ai-docs:
    container_name: langchain-ai-docs
    build: ./langchain-ai-docs/.devcontainer
    volumes:
      - ./langchain-ai-docs:/app
    user: vscode
    working_dir: /app
    ports:
      - "3000:3000"
    command: sleep infinity
    networks:
      - network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://langchain-ai-docs:3000"]
      interval: 1s
      timeout: 1s
      retries: 3600

  chroma:
    container_name: chroma
    image: chromadb/chroma
    volumes:
      - chroma_data:/data
    ports:
      - "8000:8000"
    networks:
      - network
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/chroma/8000'"]
      interval: 1s
      timeout: 1s
      retries: 3600

  ollama:
    container_name: ollama
    image: ollama/ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - network
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 1s
      timeout: 1s
      retries: 3600
    runtime: nvidia

networks:
  network:
    driver: bridge

volumes:
  chroma_data:
  ollama_data:
