services:
  root:
    container_name: root
    image: mcr.microsoft.com/devcontainers/base:noble
    volumes:
      - .:/workspace:rw
    user: vscode
    working_dir: /workspace
    command: sleep infinity
    networks:
      - network

  builder:
    container_name: builder
    build: ./builder/.devcontainer
    volumes:
      - ./builder:/app
    user: vscode
    working_dir: /app
    command: sleep infinity
    networks:
      - network
    depends_on:
      langchain-ai-docs:
        condition: service_started
    environment:
      - LANGCHAIN_AI_DOCS_URL=http://langchain-ai-docs:3000
      - NVIDIA_API_KEY=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
      - EMBEDDING_MODEL=nvidia/llama-3.2-nv-embedqa-1b-v2

  front:
    container_name: front
    image: mcr.microsoft.com/devcontainers/typescript-node:bookworm
    volumes:
      - ./front:/app
    user: node
    working_dir: /app
    ports:
      - "3001:3000"
    command: sleep infinity
    networks:
      - network
    depends_on:
      chat:
        condition: service_started

  chat:
    container_name: chat
    build: ./chat/.devcontainer
    volumes:
      - ./chat:/app
      - ./builder/chroma_db:/app/chroma_db
    user: vscode
    working_dir: /app
    ports:
      - "8080:8080"
    command: sleep infinity
    networks:
      - network
    environment:
      - NVIDIA_API_KEY=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
      - EMBEDDING_MODEL=nvidia/llama-3.2-nv-embedqa-1b-v2
      - LLM_MODEL=meta/llama-3.1-405b-instruct

  langchain-ai-docs:
    container_name: langchain-ai-docs
    build: ./langchain-ai-docs/.devcontainer
    volumes:
      - ./langchain-ai-docs:/app
    user: vscode
    working_dir: /app
    ports:
      - "3000:3000"
    command: sleep infinity
    networks:
      - network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://langchain-ai-docs:3000"]
      interval: 1s
      timeout: 1s
      retries: 3600

  deploy:
    container_name: deploy
    build: ./deploy/.devcontainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./deploy:/app
      - ./builder:/app/builder:ro
      - ./chat:/app/chat:ro
    user: node
    working_dir: /app
    command: sleep infinity
    networks:
      - network
    environment:
      - CDK_DEFAULT_ACCOUNT=701527495785
      - CDK_DEFAULT_REGION=us-east-1
      - NVIDIA_API_KEY=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
      - EMBEDDING_MODEL=nvidia/llama-3.2-nv-embedqa-1b-v2
      - LLM_MODEL=meta/llama-3.1-405b-instruct


networks:
  network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1

